/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #121212;
    color: white;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1e1e1e;
    padding: 15px 50px;
    position: fixed;
    width: 95%;

}

.logo {
    font-size: 24px;
    font-weight: 600;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #f4a261;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(135deg,rgb(161, 151, 16),rgb(222, 203, 55));
}

.hero h1 {
    font-size: 32px;
    font-weight: 600;
}

.hero p {
    font-size: 18px;
    margin-top: 10px;
}

/* Main Container */
.container {
    max-width: 900px;
    margin: 60px auto;
    padding: 20px;
}

/* Chart Section */
.box {
    background: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.1);
    margin-bottom: 20px;
}
#prediction_chart{
    width:100%;
    height:500px;
}

/* Tabs */
.crypto-tabs {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

.tab-btn {
    padding: 10px 15px;
    border: none;
    background: #f4a261;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
}

.tab-btn.active {
    background: #ff5e62;
}

/* Blog */
.blog-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.blog-post {
    background: #1e1e1e;
    padding: 15px;
    border-radius: 8px;
    width: 45%;
    margin-bottom: 15px;
}

/* Footer */
footer {
    background: #1e1e1e;
    padding: 15px;
    text-align: center;
}
